@charset "UTF-8";
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap'); /*importar fontes do google fontes*/
        /**{/*seletor com configurações globais*/
            /*height: 100%;
        }*/
       
    
        
        body{
          
            /*background-image: linear-gradient(to top, blue, red); para colocar degrade no site*/
            background-image: linear-gradient(to top,rgb(168, 168, 235), rgb(216, 153, 153));            
            /*background-image: radial-gradient(circle, blue,red);*/
            color: blue;
            
            
        }
        p{
            color: rgb(255, 0, 93);
            font-family: 'Courier New', Courier, monospace;
            font-weight: bolder;
            font-style: italic;
            font-size: 1.5em;     
                               
        
        }        
       
